.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 100px;
  .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    img {
    }
    h2 {
      margin: 0px 50px;
    }
  }
  .icon {
    cursor: pointer;
  }
}
