.container {
  background-color: #fafafa;
  padding: 20px 100px;
  border-top: 2px solid #d4d6de;
  border-bottom: 2px solid #d4d6de;
  flex-wrap: wrap;
  textarea {
    resize: none;
    background-color: white;
    border-radius: 20px;
    border: 2px solid #d4d6de;
    font-size: 22px;
    padding: 20px;
    font-family: "Almarai";
    outline-color: #c3c3c6;
    width: -webkit-fill-available;
  }
}
@media screen and (min-width: 320px) and (max-width: 792px) {
  .container {
    padding: 10px 30px;
  }
}
