input {
  border: 2px solid #d4d6de;
  font-family: "Almarai";
  outline-color: #c3c3c6;
}
.container {
  background-color: #fafafa;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
  border-top: 2px solid #d4d6de;
  flex-wrap: wrap;
}
