<div class="filter">
  <div class="filter__customer">
    <div class="title">
      <img src="../../assets/images/Group 1000013747.svg" alt="" />
      <div class="text">
        <h4>حدد العميل</h4>
        <p>يرجي البحث عن العميل لأختياره</p>
      </div>
    </div>
    <div class="bar">
      <input type="text" placeholder="ابحث عن العميل : اسم العميل , رقم هاتف" />
    </div>
  </div>
  <div class="filter__customer price">
    <div class="title">
      <img src="../../assets/images/wallet-minus.svg" alt="" />
      <div class="text">
        <h4>سعر الصفقة</h4>
        <p>سعر الصفقة مبلغ شامل الضرائب</p>
      </div>
    </div>
    <div class="bar">
      <input type="number" placeholder="50.000 $" />
    </div>
  </div>
</div>
