.filter {
  .price {
    background-color: white !important;
    background-image: none !important;
    border: 2px solid #d4d6de;
    input {
      background-color: #fafafa;
    }
  }
  p {
    color: #83899f;
    font-size: 14px;
  }
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 40px 0px;
  .filter__customer {
    width: 45%;
    padding: 20px;
    background-color: #f6faff;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='7' ry='7' stroke='%232682E2FF' stroke-width='4' stroke-dasharray='6%2c 22' stroke-dashoffset='27' stroke-linecap='square'/%3e%3c/svg%3e");
    border-radius: 20px;
    .title {
      display: flex;
      align-items: center;
      padding: 10px;
      img {
        width: 40px;
        height: 40px;
      }
      .text {
        margin-right: 20px;
        h4 {
          margin: 0px;
        }
        p {
          margin: 10px 0px;
        }
      }
    }
    .bar {
      padding: 10px 0px;
      input {
        width: 90%;
        height: 35px;
        border-radius: 5px;
      }
    }
  }
}
