<table>
  <thead>
    <tr>
      <th>
        <img src="../../assets/images/Vector.svg" alt="" />
        المنتجات
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <div class="products_img">
          <img src="../../assets/images/Group 1000016170.svg" alt="" />
        </div>
        <div class="products_content">
          <h5>لا توجد منتجات حالية</h5>
          <p>يرجي اضافخ منتجات وادارتها للصفقة الحالية</p>
        </div>
        <button>إضافة منتج</button>
      </td>
    </tr>
  </tbody>
</table>
