@font-face {
  font-family: "Almarai";
  src: url("assets/fonts/Almarai/Almarai-Regular.ttf") format("truetype");
  /* Add additional font weights or styles as needed */
}

* {
  font-family: "Almarai", sans-serif;
  direction: rtl;
}
body {
  padding: 0px;
  margin: 0px;
}
a {
  text-decoration: none;
}
input {
  border: 2px solid #d4d6de;
  font-family: "Almarai";
  outline-color: #c3c3c6;
}
